{% extends 'base.html' %}

{% block title %}Home - Reed Anderson{% endblock %}

{% block content %}
<section>
    <h2>Welcome to My Personal Website!</h2>
    <p>Hello! I'm Reed Anderson, an MSIS student passionate about tech consulting.
       This website showcases my work, experience, and journey in the field of information systems.</p>
    <p>Feel free to explore my projects and get in touch if you'd like to collaborate!</p>

    <h2>GitHub Repo</h2>
    <a href="https://github.com/reedande/personal-website" target="_blank">Click Here for Repo</a>
</section>
{% endblock %}